<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render "products/components/side_bar", categories: @categories %>
    </div>
    
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <p>
            類別: <%= @product.subcategory.try(:name_with_category) %><br/>
            序號:   <%= @product.id %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag (@product.image_url || "https://via.placeholder.com/480x300?text=360x200"),class: "img-responsive" %>
        </div>
        
        <div class="col-xs-9">
          <h3><%=@product[:name]%></h3>
          <p><%=@product[:description]%></p>
        </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-xs-12">
              <button class="btn btn-primary btn-block">購買</button>
          </div>
      </div>
    </div>
  </div>
</div>